*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container{
    width: 300px;
    height: 300px;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 100px;
    height: 100px;
    background-color: #0000ff;

}
ol{
    display: flex;
    justify-content:space-between
} */
/* .conteiner{
    width: 600px;
    height: 600px;
    background-color: #000000;
    position: relative;
}

.container>div{
    height:100px;
    width:100px;
    position: absolute;
}

{}
    background-color: #ff0000;

}

.box2{
    background-color: #00ff00;

}

.box3{
    background-color: #0000ff;
}

.box4{
    background-color: #fff;
}

.box5{
    background-color: #ff00ff
    ;
}
.box6{
    background-color: #00fff0
    ;
} */ 
/* 
.container{
    background-color: #000000;
    width: 400px;
    height: 400px;
    position: relative;
}
.box1{
    background-color: #ff0000;
}

.box2{
    background-color: #00ff00;
right: 0px;
}

.box3{
    background-color: #0000ff;
right: 150px;
}

.box4{
    background-color: #fff;
    top: 150px;
}

.box5{
    background-color: #ff00ff;
    top: 150px;
    right: 150px;
}
.box6{
    background-color: #00fff0;
    top: 150px;
    right: 0px;
}

.box7{
    background-color:darkgreen;
    bottom: 0px;

}
.box8{
    background-color: navajowhite;
bottom: 0px;
right: 150px;
}

.box9{
    background-color:yellow;
    bottom: 0px;
    right: 0px;
}



    .container>div{
        height:100px;
        width:100px;
        position: absolute;
    }
     */

     /* .wrapper{
         width: 600px;
         margin: auto;
     }
     .menu{
         text-align: center;
         text-transform: uppercase;
         display: flex;
         justify-content: space-between;
     }
     .menu-item{
         position: relative;
     }
     .subMenu{
         display: none;
         position: absolute;
         top: 100%;
         left: 0;
        } 
        .menu-item:hover> .subMenu{
            display: block;
        } */

.wrapper{
    padding: 20px 0 20px 0;
}

nav{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}
.Logo {
    font-weight: 100;

}

.Logo::first-Letter{
    font-weight: 700;
    color: #1abc9c;
}

.LogoLink:hover{
    color: #1abc9c;
}

.LogoLink{
    text-decoration: none;
    color: black;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 30%;
    list-style: none;
}

.menu > li:hover{
    color: #1abc9c;
    cursor: pointer;
}